<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title><%= htmlWebpackPlugin.options.title %></title>
    <link rel="canonical" href="<%= htmlWebpackPlugin.options.url %>" />
    <link rel="icon" type="image/svg+xml" href="<%= htmlWebpackPlugin.options.faviconSvg %>" />
    <link rel="alternate icon" href="<%= htmlWebpackPlugin.options.faviconIco %>" />
    <meta name="description" content="<%= htmlWebpackPlugin.options.description %>" />
    <meta property="og:title" content="<%= htmlWebpackPlugin.options.title %>" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="<%= htmlWebpackPlugin.options.url %>" />
    <meta property="og:image" content="<%= htmlWebpackPlugin.options.ogImage %>" />
    <meta property="og:description" content="<%= htmlWebpackPlugin.options.description %>" />
  </head>
  <body>
    <noscript>You need to enable JavaScript to run this app.</noscript>
    <div id="root"></div>
  </body>
</html>
